body{
  background-image: url(../images/arcade.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #979A9A;
}
.t1{
  color: #FDFEFE;
  font-size: 60px;
  font-weight: 600;
  font-family: sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
  margin-left: 650px;
  margin-right: 650px;
}
.f1{
  float: none;
  color: #FFFFFF;
  width: auto;
  background-color: #626162;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 40px;
}
